$book-item2-box-width: 67vw;

.book-item2-container {
  color: black;
  font-weight: 300;
  font-size: 2vh;

  position: relative;

  // border: 1px solid lightcoral;

  height: 30vh;
  margin-bottom: 3vh;
}

.book-item2-box {
  padding: 1vh;
  text-align: center;
  border-radius: 21px;
  background: linear-gradient(90deg, #FFE9D3, #F8B268);

  width: $book-item2-box-width;
  height: 55%;
  position: relative;
  top: 0;
  left: 0;

  // border: 1px solid red;
  .book-item2-title {
    // border: 1px solid blue;
    color: #665048;
    margin: 0.5vh;
    margin-top: 0;
  }
  .book-item2-desc {
    // border: 1px solid green;
    margin: 0;
    white-space: pre-line;
  }
}

.book-item2-book {
  position: relative;
  right: -$book-item2-box-width + 5vw;
  top: -10vh;
  
  background-color: #FFCFC4;
  
  z-index: 999;
  width: 25vw;
  height: 19.9vh;
  border-radius: 0 10px 10px 0;

  .book-item2-image {
    width: 24vw;

    position: relative;
    left: 1.5vw;
  }
}
