.book-item-container {
  color: black;
  font-weight: 300;
  font-size: 2vh;

  position: relative;

  // border: 1px solid lightcoral;

  height: 30vh;
  margin-bottom: 3vh;
}

.book-item-box {
  padding: 1vh;
  text-align: center;
  border-radius: 21px;
  background: linear-gradient(90deg, #FFE9D3, #F8B268);

  width: 65vw;
  height: 65%;
  position: relative;
  top: 0;
  left: 10vh;

  // border: 1px solid red;
  .book-item-title {
    // border: 1px solid blue;
    color: #665048;
    margin: 0.5vh;
    margin-top: 0;
  }
  .book-item-desc {
    // border: 1px solid green;
    margin: 0;
    white-space: pre-line;
  }
}

.book-item-book {
  position: relative;
  left: 0;
  top: -13vh;
  
  background-color: #F7B0AE;
  
  z-index: 999;
  width: 25vw;
  height: 19.9vh;
  border-radius: 0 10px 10px 0;

  .book-item-image {
    width: 24vw;

    position: relative;
    left: 1.5vw;
  }
}
