.book-item-container {
  color: black;
  font-weight: 300;
  font-size: 13px;

  position: relative;

  // border: 1px solid lightcoral;

  height: 180px;
  margin-bottom: 5vh;
}

.book-item-box {
  padding: 1vh;
  text-align: center;
  border-radius: 21px;
  background: linear-gradient(90deg, #FFE9D3, #F8B268);

  width: 63vw;
  position: relative;
  top: 0;
  left: 10vh;

  // border: 1px solid red;
  .book-item-title {
    // border: 1px solid blue;
    color: #665048;
    margin: 0.5vh;
    margin-top: 5px;
  }
  .book-item-desc {
    // border: 1px solid green;
    margin: 0;
    white-space: pre-line;
    margin-bottom: 5px;
  }
}

.book-item-book {
  position: relative;
  left: 0;
  top: -13vh;
  
  background-color: #F7B0AE;
  
  z-index: 10;
  border-radius: 0 10px 10px 0;

  .book-item-image {
    position: relative;
    left: 1.5vw;
  }
}

@media (max-width: 380px) {
  .book-item-book {
    width: 90px;
    height: 130px;
  }
  .book-item-image {
    width: 90px;
    height: 130px;
  }
}

@media (min-width: 381px) {
  .book-item-book {
    width: 105px;
    height: 150px;
  }
  .book-item-image {
    width: 105px;
    height: 150px;
  }
}

// @media (max-width: 150px) {
//   .book-item-book {
//     width: 90px;
//     height: 130px;
//   }
//   .book-item-image {
//     width: 90px;
//     height: 130px;
//   }
// }