$book-item2-box-width: 250px;

.book-item2-container {
  color: black;
  font-weight: 300;
  font-size: 13px;

  position: relative;

  // border: 1px solid lightcoral;

  height: 200px;
  margin-bottom: 3vh;
}

.book-item2-box {
  padding: 1vh;
  text-align: center;
  border-radius: 21px;
  background: linear-gradient(90deg, #FFE9D3, #F8B268);

  width: $book-item2-box-width;
  position: relative;
  top: 0;
  left: 0;

  // border: 1px solid red;
  .book-item2-title {
    // border: 1px solid blue;
    color: #665048;
    margin: 0.5vh;
    margin-top: 3px;
  }
  .book-item2-desc {
    // border: 1px solid green;
    margin: 0;
    white-space: pre-line;
    margin-bottom: 5px;
  }
}

.book-item2-book {
  position: relative;
  top: -10vh;
  
  background-color: #FFCFC4;
  
  z-index: 999;
  width: 105px;
  height: 150px;
  border-radius: 0 10px 10px 0;

  .book-item2-image {
    position: relative;
    left: 5px;
  }
}

@media (max-width: 380px) {
  .book-item2-book {
    right: -$book-item2-box-width + 17px;
    width: 90px;
    height: 130px;
  }
  .book-item2-image {
    width: 90px;
    height: 130px;
  }
}

@media (min-width: 381px) {
  .book-item2-book {
    right: -$book-item2-box-width;
    width: 105px;
    height: 150px;
  }
  .book-item2-image {
    width: 105px;
    height: 150px;
  }
}