$picture-height: 45vh;
$back-button-height: 2vh;

.curation-item-container {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
  overflow-y: auto;

  position: relative;
  background-color: #3F1F08;
}

.curation-item-header {
  position: relative;
  margin-bottom: 3vh;

  .back-button {
    outline: none;
    border: none;
    background: url('../../assets/backbutton.svg') no-repeat center center;

    position: absolute;
    top: 5vh;
    z-index: 999;

    width: 10vh;
    height: $back-button-height;
  }

  .curation-item-picture {
    mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); background: url('../../assets/curation_item_ex/curation_item_ex_picture.png');
    background-size: cover;
    background-position: center;

    width: 130%;
    height: $picture-height;

    position: absolute;
    left: -100px; //! 임시 픽셀
    top: 0;

    box-sizing: border-box;
  }

  .curation-item-title {
    color: white;
    font-size: 3.5vh;
    margin-left: 3vh;
    line-height: 4vh;

    position: absolute;
    top: $picture-height - 2vh;
  }
}

.curation-item-articles {
  position: relative;
  top: $back-button-height + $picture-height + 10vh;

  margin: 0 4vh 4vh 4vh;

  border: 1px solid transparent;
}