.curation-container {
  width: 100%;
  // border: 1px solid red;
  box-sizing: border-box;
  margin-top: 2vh;
  margin-bottom: 16vh;

  .curation-title {
    color: white;
    font-size: 22px;
    margin: 1vh 2vh;
    // border: 1px solid green;
  }
}

.curation-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3vh;
  margin: 2vh 4vh;
  justify-items: center;
}

.curation-items img {
  max-width: 100%;
  height: auto;
  // border: 1px solid blue;
}
