// src/pages/Home/MyPage.scss

.mypage-container {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a0522d; // Use your background color here
  }
  
  .mypage-content,
  .signup-success,
  .signup-form,
  .login-form {
    width: 90%;
    max-width: 340px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #3b3b3b;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background-color: #d2b48c; // Adjust color to match design
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-link {
    margin-top: 15px;
    font-size: 0.9em;
    color: #555;
  }
  
  .signup-link span {
    color: #d2b48c;
    cursor: pointer;
    text-decoration: underline;
  }
  