.recommend-container {
  width: 100vw;
  // border: 1px solid red;
  margin-left: 0;

  .recommend-title {
    color: white;
    font-size: 22px;
    margin: 0 2vh;
    // border: 1px solid green;
    width: 90%;
    margin-left: 20px;
  }

  .recommend-items {
    width: 100%;
    min-height: 250px;

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: none; // Firefox

    box-sizing: border-box;
    // border: 1px solid blue;
  }

  .recommend-items::-webkit-scrollbar {
    display: none; // Chrome, Safari, and newer Edge
  }
}

.recommend-items img {
  min-width: 48%;
  margin-right: -30px;
}

@media (min-height: 0) {
  .recommend-container {
    top: 22%;
    margin-top: 2.5vh;
  }
}

@media (min-height: 745px) {
  .recommend-container {
    top: 22%;
    margin-top: 0;
  }
}
