.header {
  display: flex;
  align-items: center; // 세로 중심 정렬
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff9e7;
  border-bottom: 1px solid #53301f;
  position: relative; // 정중앙 위치를 위한 상대적 위치 설정

  .bbackbutton {
    cursor: pointer;
    position: absolute;
    left: 10px; // 좌측 여백
  }

  .dropdown-wrapper {
    flex: 1; // 여유 공간 차지
    display: flex;
    justify-content: center; // 수평 중앙 정렬
  }

  .dropdown {
    position: relative;
    font-size: 16px;
    color: #53301f;
    cursor: pointer;

    span {
      font-size: 12px;
      margin-left: 5px;
    }

    .dropdown-menu {
      position: absolute;
      top: 30px;
      left: 50%; // 중앙 정렬
      transform: translateX(-50%); // 수평 가운데 맞춤
      background-color: #fff9e7;
      // border: 1px solid #53301f;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      width: 8rem;

      p {
        padding: 10px;
        margin: 0;
        cursor: pointer;

        &:hover {
          background-color: #e0d5c0;
        }
      }
    }
  }
}

.rrecord-back {
  background: var(--back2, #fff9e7);
  display: flex;
  flex-direction: column;
  height: 100vh;

  .bbackbutton {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer; // 클릭 가능 표시
  }
}

.rrecord-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  margin-bottom: 100px;
  background: var(--back2, #fff9e7);
}

.record-check-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 40px;
}

.content-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // 한 줄에 두 개씩 배치
  gap: 1rem; // 아이템 사이 간격
  width: 100%;
  box-sizing: border-box;
}

.content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 20px;

  .image-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1; // 정사각형 비율 유지
    overflow: hidden;
    border-radius: 10px;
    background-color: #f0f0f0; // 이미지 없는 경우 배경
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; // 정사각형 비율 유지
  }

  .book-title {
    font-size: 0.8rem;
    color: #666;
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
    text-align: center;
  }
}
