.rrecord-back {
  background: var(--back2, #fff9e7);
  display: flex;

  .bbackbutton {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer; // 클릭 가능 표시
  }
}

.rrecord-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
}

.record-check-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 40px;
}

.content-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // 한 줄에 두 개씩 배치
  gap: 2rem; // 아이템 사이 간격
  width: 100%;
  box-sizing: border-box;
}

.content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 20px;

  .image-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1; // 정사각형 비율 유지
    overflow: hidden;
    border-radius: 10px;
    background-color: #f0f0f0; // 이미지 없는 경우 배경
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; // 정사각형 비율 유지
  }

  .book-title {
    font-size: 0.8rem;
    color: #666;
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
    text-align: center;
  }
}
