.category-container {
  .category-item {
    display: flex;
    width: 100%; /* 그리드 셀에 맞춤 */
    height: 5.5rem;
    padding: 1vw; /* 여백 */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);

    p {
      font-size: 1rem; /* 적절한 텍스트 크기 */
      color: white;
      text-align: center;
    }
  }
}
