.category-title {
  width: 95%;
  color: #fdfdfd;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 104% */
  text-align: right;
  margin-right: 15px;
}
